*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5; /* This requires customizing the line height for larger text. */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%; /* Use `max-width: revert;` if an image is meant to overflow */
}

input, button, textarea, select {
    font: inherit;
}

p {
    text-wrap: pretty; /* May have a performance impact. */
} /* Remember to use `p` instead of `div` in your HTML if you want this to work. 
  Also, consider setting `max-width: 60ch` or smaller. (ch being the width of "0" 
  in given `font-size`. (Maybe this belongs on a parent element, though.)*/

body {
    display: flex;
    color: #10131A;
}

a:visited, a:link {
    text-decoration: none;
    color: #DB971A;
}

a:hover {
    text-decoration: underline;
}

.image-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-image: url("../img/52481756807-f1d16d6418-o.jpg");
    background-position: 2300px;
    width: 100%;
}

.logo {
    font-family: 'iceberg', display, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 30vh;
    font-size: 2rem;
    background-color: #10131A77;
    width: 100%;
    padding: 2rem;
    flex-wrap: wrap;
}

.photo-credit {
    margin-top: auto;
    background-color: #10131A77;
    width: 100%;
    padding: 0.5em;
}

.form-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    background-color: #10131A11;
    box-shadow: -2px 0px 5px #10131A77;
}

.intro, 
.signup-form, 
.outro {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro {
    font-weight: bold;
    justify-content: end;
}

.intro > p {
    width: 560px;
}

.signup-form {
    background-color: white;
    justify-content: center;
    height: fit-content;
    box-shadow: 0px 2px 5px #10131A77;
    width: 100%;
    align-self: center;
}

.signup-form > p {
    margin-left: 10px;
    font-size: 1.5em;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 70px;
    width: fit-content;
}

.form-row label {
    text-transform: uppercase;
    margin: 0px 10px 5px;
}

input {
    height: fit-content;
    margin: 0 10px;
    border: 2px solid #10131Aaa;
    border-radius: 3px;
}

input:focus {
    outline: 0;
    border-color: #10131Add;
    box-shadow: 1px 1px 3px #10131A77;
}

input:user-invalid {
    border-color: #ff551A;
}

input:user-invalid:focus {
    background-color: #ff551A22;
}

input:user-valid {
    border-color: #58708A;
}

input:user-valid {
    background-color: #58708A22;
}

button{
    width: fit-content;
    padding: 10px 30px;
    font-weight: bold;
    color: white;
    background-color: #DB971A;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #10131A77;
}

button:hover {
    background-color: #DB971Acc;
    box-shadow: 1px 1px 3px #10131A99;
}

button:active {
    background-color: #DB971A99;
    box-shadow: 0px 0px 1px #10131Acc;
}

.form-side a {
    font-weight: bold;
}

.form-side p.required, 
span[aria-label] {
    font-weight: normal;
    font-size: 0.8em;
    color: #10131Acc;
}